/*
 * Legal Disclaimer
 *
 * for usage in HTML online banners and digital ads under the Xfinity Brand
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2018
 */


/*
 *
 * INSTRUCTIONS
 *
 * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
 * The fonts folder(s) should be placed relative to the regular CSS file.
 *
 */

@font-face {
	font-family: "XfinityBrownWeb Bold Web";
	src: url("fonts/XfinityBrownWeb-Bold.eot");
	src: url("fonts/XfinityBrownWeb-Bold.woff") format("woff"),
		 url("fonts/XfinityBrownWeb-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "XfinityBrownWeb Bold Italic Web";
	src: url("fonts/XfinityBrownWeb-BoldItalic.eot");
	src: url("fonts/XfinityBrownWeb-BoldItalic.woff") format("woff"),
		 url("fonts/XfinityBrownWeb-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "XfinityBrownWeb Italic Web";
	src: url("fonts/XfinityBrownWeb-Italic.eot");
	src: url("fonts/XfinityBrownWeb-Italic.woff") format("woff"),
		 url("fonts/XfinityBrownWeb-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "XfinityBrownWeb Light Web";
	src: url("fonts/XfinityBrownWeb-Light.eot");
	src: url("fonts/XfinityBrownWeb-Light.woff") format("woff"),
		 url("fonts/XfinityBrownWeb-Light.woff2") format("woff2");
}

@font-face {
	font-family: "XfinityBrownWeb Light Italic Web";
	src: url("fonts/XfinityBrownWeb-LightItalic.eot");
	src: url("fonts/XfinityBrownWeb-LightItalic.woff") format("woff"),
		 url("fonts/XfinityBrownWeb-LightItalic.woff2") format("woff2");
}

@font-face {
	font-family: "XfinityBrownWeb Regular Web";
	src: url("fonts/XfinityBrownWeb-Regular.eot");
	src: url("fonts/XfinityBrownWeb-Regular.woff") format("woff"),
		 url("fonts/XfinityBrownWeb-Regular.woff2") format("woff2");
}
body {
	background-color: white;
}

h1 {
	color: rgb(43, 156, 216);
	font-size: 70;
	font-family: "XfinityBrownWeb Bold Web";
}
h2 {
	color: rgb(90, 90, 92);
	font-size: 50;
	font-family: "XfinityBrownWeb Regular Web";
}
h3 {
	color: rgb(90, 90, 92);
	font-size: 40;
	font-family: "XfinityBrownWeb Light Web";
}
p {
	color: rgb(90, 90, 92);
	font-family: "XfinityBrownWeb Light Web";
}